header{
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
}

.logo{
    border-right: 1px solid #e5e5e5;
    padding: 15px 30px;
}

.logo-img{
    width: 136px;
    height: auto;
}

.searching-box{
    border-right: 1px solid #e5e5e5;
    display: flex;
    padding: 15px 70px 15px 30px;
    width: 100%;

}

.btn{
    display:block;
}

.button{
    border: 1px solid #e5e5e5;
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    color: #696969;
    display: flex;
    text-align: center;
    padding: 9.5px;
}

.button:hover{
    background-color: #ebebeb;
    color: #505050;
    cursor: pointer;
}

.category-dropdown-content{
    margin-top: 2px;
    display: none;
    background-color: white;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    flex-wrap: wrap;
    width: 686px;
    padding: 15px 15px 0px 15px;
    z-index: 2;
}

.topbar-category{
    padding: 15px;
    text-align: center;
}

.topbar-category img{
    height: 140px;
    width: 140px;
}

.show{display:flex}

.input-form{
    width: 100%;
}

input{
    border: 1px solid #e5e5e5;
    border-left:none;
    border-radius: 0px 4px 4px 0px;
    width: 100%;
    padding: 9.5px 0px 9.5px 40px;
    font-size: 16px;
}

input:focus{
    border: 1px solid blue;
}

.icon{
    margin-top: 2px;
    padding: 0px 8px 0px 8px;
}

.tools{
    display: flex;
    color: #7e7e7e;
    font-size: 24px;

}

.tool{
    border-right: 1px solid #e5e5e5;
    width: 96px;
    padding-top: 10px;
    text-align: center;
}

.tool img{
    height: 25px;
    width: 25px;
    margin-top: -4px;
}

.tool a{
    text-decoration: none;
    color: #7e7e7e;
}

.tool span{
    font-size: 18px;
}

.tool:hover{
    cursor: pointer;
    background-color: #f8f9fa;
}

.user-tool-dropdown{
    display: inline-block;
    position: relative;
}

.user-tool-dropdown:hover .user-tool-dropdown-content {display: block;}

.user-tool-dropdown-content{
    cursor: default;
    display: none;
    top: 100%;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 0px 0px 5px 5px;
    font-size: 12px;
    width: 180%;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #505050;
}

.blue-btn{
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.blue-btn:hover{
    background-color: #0046d1;
}

.muted{
    color: #05f !important;
    text-decoration: none;
}

.muted:hover{
    text-decoration: underline;
}

.round{
    text-align: center;
    border-radius: 50%;
    border: 1px solid #05f;
    background-color: #05f;
    color: white;
    font-size: 14px !important;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    right: 24px;
}

.cart-tool-dropdown{
    display: inline-block;
    position: relative;
}

.cart-tool-dropdown:hover .cart-tool-dropdown-content {display: block;}

.cart-tool-dropdown-content{
    cursor: default;
    display: none;
    top: 100%;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 0px 0px 5px 5px;
    width: 230%;
    right: 2px;
    padding: 10px;
    padding-bottom: 0px;
    z-index: 20;
}

.cart-topbar{
    border-bottom: 1px dashed #e5e5e5;
    text-align: left;
    padding: 10px;
    display: flex;
    color: black;
}

.cart-topbar img{
    width: 50px;
    height: 50px;
}

.cart-topbar-info{
    padding-left: 20px;
    width: 100%;
    display: inline;
    position: relative;
    font-size: 16px;
}

.cart-topbar-info span{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #7e7e7e;
}



.cart-topbar-total-price{
    text-align: right;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-href{
    text-decoration: none;
    color: black;
}

.item-href:hover{
    color: #05f !important;
}
