body{
    margin: 0;
    font-family: "Rubik",Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 100%;
}

.main-content{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

::selection{
    background-color: black;
    color: white;
}

.featured-text{
    padding-top: 20px;
    font-size:28px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;

}

.featured-list{
    max-width: 1170px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.featured-container{
    margin: 15px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    display: block;

    padding-bottom: 0px;

}

.sale-rating{
    width: 100%;
    display: flex;
    padding: 10px;

}

.sale{
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    padding: 0 14px;
    font-weight: 400;
    margin-bottom: 10px;
    max-width: 32px;
}

.product-img{
    margin: 20px 10px 0px 10px;
    padding: 10px;
}

.product-img img{
    height: 220px;
    width: 220px;
}

.product-cart-body{

}

.product-cart-body a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.product-cart-body span{
    color: #999;
    font-size: 16px;
}

.product-cart-body div{
    padding-bottom: 10px;
}
.product-cart-body span:hover{
    color: #05f;
}

.product-cart-body a:hover{
    color:#05f;
}

.crossed-price{
    text-decoration: line-through;
}

.crossed-price:hover{
    color: #999 !important;
}

.catalog-price{
    border-radius: 4px;
    background-color: #fff6e3;
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.rating{
    margin-left: auto;
    color: #ffa000;
    margin-right: 25px;
}

.text-center{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.text-center a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #505050;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}

.text-center a:hover{
    background-color: #f8f9fa;
}

.popular-brands{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #f5f5f5;

}

.brands-line{
    display: flex;
    padding: 20px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.brands-line img{
    width: 110px;
    height: auto;
    opacity: .75;
    margin-left: auto;
    margin-right: auto;
}

.advantages{
    padding-top: 50px;
    padding-bottom: 90px;
}

.row{
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.advantages_inner{
    width: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages_inner img{
    width: 90px;
    height: auto;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin: 20px;
}

.advantage-text{
    font-size: 18px;
}

.advantage-text-small{
    font-size: 16px;
    color: #999;
}

.login{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 20px;
    width: 560px;
}

.login-input:focus{
    border: 1px solid blue;
}

.login-text{
    margin: 30px;
    font-size: 20px;
}

.login-form{
    margin: 0px 10px;
}

.login-form label{
    margin-left: 20px;
}

.login-form input{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 400px;
    padding: 9.5px 0px 9.5px 40px;
    font-size: 16px;
    margin: 10px 20px;
}

.password-forgot{
    color: #505050;
    margin-left: auto;
    margin-right: 20px;
}

.registration{
    margin-left: 20px;
}

.register-text{
    margin: 20px;
    font-size: 26px;
}

.register-info{
    margin: 20px 0px;
    font-size: 14px;
    color: #505050;
}

.registration-form{
    display: flex;
    flex-wrap: wrap;
}

.registration-form p{
    width: 220px;
    margin: 10px 20px;
}

.registration-form p label{
    color: #505050;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.registration-form p input{
    margin: 10px;
    width: 180px;
    padding: 9.5px 0px 9.5px 40px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.registration-form p input:focus{
    border: 1px solid blue;
}

.errors{
    display:flex;
     height: 41px;
     width: 100%;
     position: relative
}

.errorlist{
    display: none;
}

.messages{
    list-style: none;
    position: sticky;
    bottom: 2%;
    min-height: 2em;

}

.messages li{
    margin-left: -20px;
    text-align: center;
    width: 160px;
    opacity: 0;
    border-radius: 4px;
    animation: fadeOut 4s linear forwards;
    padding: 10px
}



@keyframes fadeOut {

    0%  { opacity: 0; }

    10% { opacity: 1; }

    90% { opacity: 1; transform: translateX(0px);}

    99% { opacity: 0; transform: translateX(-30px);}

    100% { opacity: 0; }
}

.info{
    background-color: #e7f4e5;
    border: 1px solid #c4d1c5;
    color: #28a745;
}

.success{
    background-color: #e6f1f9;
    border: 1px solid #adbdc9;
    color: #3083c5;
}

.error{
    color: #d35f52;
    border: 1px solid #d7bcb8;
    background-color: #fee6e4;

}

.recovery{
    text-align: left;
}

.recovery-list{
    padding: 0;
    list-style: none;

}

.recovery-list li{
    padding-bottom: 5px;
}

.list-counter{
    color: #05f;
    font-weight: bold;
}

.text-muted{
    color:#505050;
    font-weight: normal;
}

.card{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.card-body{
    border-bottom: 1px solid #e5e5e5;
    padding: 1.25rem;
}

.email-for-pass{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 700px;
    margin: 10px 0px;
}

.card-text{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    color: #505050;
}

.card-smalltext{
    padding-left: 20px;
    font-weight: 200;
    color: #505050;
}

.card-footer{
    background-color: #f5f5f5;
    padding: 20px 0px;
}

.card-footer .footer-submit{
    max-width: 180px;
}

.password-change{

}

.password-change input{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 9.5px 0px 9.5px 40px;
    font-size: 16px;
    margin: 10px 0px;
    width: 450px;
}

.border{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 20px;
    width: 490px;
}