<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "main/home_page.html" %}
    {%load static%}
    {%load catalog_tags%}


</head>
<body>
{%block body%}
<div class="container">
    <div class="user-side">
        <div class="user-info-wrapper">
            <div style="background-image:url({%static 'images/user-cover-img.jpg'%})" class="user-cover">
            </div>

            <div class="user-info">
                <div class="user-avatar">
                    <img src="{{user.avatar.url}}">
                </div>

                <div class="user-data">
                    <h3 style="font-weight: 100; margin-bottom: 2px;">{{user.first_name}} {{user.last_name}}</h3>
                    <span class="muted-text" style="padding-right:0; font-size: 12px">Ph. n.{{user.phone_number}}</span>
                </div>
            </div>
        </div>

        <div class="list-group">
            <a href="{%url 'orders'%}" class="list-item active  ">
                Orders
            </a>

            <a href="{%url 'profile'%}" class="list-item">
                Profile
            </a>

            <a href="{%url 'wishlist'%}" class="list-item">
                Wishlist
            </a>
        </div>
    </div>
    <div class="info-side">
        {{user.email}}
    </div>

</div>

{%endblock%}
</body>
</html>