<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "main/home_page.html" %}
    {%load static%}
    {%load catalog_tags%}
    {%load profile_tags%}

</head>
<body>
{%block body%}
<div class="container">
    <div class="user-side">
        <div class="user-info-wrapper">
            <div style="background-image:url({%static 'images/user-cover-img.jpg'%})" class="user-cover">
            </div>

            <div class="user-info">
                <div class="user-avatar">
                    <img src="{{user.avatar.url}}">
                </div>

                <div class="user-data">
                    <h3 style="font-weight: 100; margin-bottom: 2px;">
                        {%full_name user%}
                    </h3>
                    {%if user.phone_number%}
                    <span class="muted-text" style="padding-right:0; font-size: 12px">
                            Ph. n.{{user.phone_number}}
                        </span>
                    {%endif%}
                </div>
            </div>
        </div>

        <div class="list-group">
            <a href="{%url 'orders'%}" class="list-item">
                Orders
            </a>

            <a href="{%url 'profile'%}" class="list-item active">
                Profile
            </a>

            <a href="{%url 'wishlist'%}" class="list-item">
                Wishlist
            </a>
        </div>
    </div>

    <div class="info-side">
        <form class="profile-form" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <div class="border-top">
                <input type="submit" class="blue-btn" value="Update Profile">
            </div>

        </form>
    </div>

</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {%if message.tags%} class="{{ message.tags }}" {%endif%}>{%autoescape off%}{{message}}{%endautoescape%}</li>
    {% endfor %}
</ul>
{% endif %}
{%endblock%}
</body>
</html>